bin/
scriptkiller

node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

target/
*.class
*.jar

__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.pytest_cache/
venv/
env/

vendor/
Gemfile.lock

composer.lock

*.o
*.a
*.exe
a.out

_build/
deps/
*.beam

.dart_tool/
.packages
pubspec.lock

.Rproj.user/
.Rhistory
.RData

Dockerfile
